{% extends 'prestamos/base.html' %}

{% block content %}
<h2>Solicitudes Pendientes</h2>

{% if prestamos %}
  <ul>
    {% for prestamo in prestamos %}
      <li>
        <strong>{{ prestamo.herramienta.nombre }}</strong> solicitada por <strong>{{ prestamo.prestatario.username }}</strong><br>
        Del {{ prestamo.fecha_inicio }} al {{ prestamo.fecha_fin }} |
        <a href="{% url 'prestamos:cambiar_estado_prestamo' prestamo.id 'aceptado' %}">Aceptar</a> |
        <a href="{% url 'prestamos:cambiar_estado_prestamo' prestamo.id 'rechazado' %}">Rechazar</a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No hay solicitudes pendientes.</p>
{% endif %}
{% endblock %}
