{% extends 'herramientas/base.html' %}
{% block content %}
<h2>{{ herramienta.nombre }}</h2>
<p>{{ herramienta.descripcion }}</p>
<p>Estado: {{ herramienta.get_estado_display }}</p>
<p>Disponibilidad: {{ herramienta.get_disponibilidad_display }}</p>
<p>Propietario: {{ herramienta.propietario.username }}</p>

{% if herramienta.imagen %}
    <img src="{{ herramienta.imagen.url }}" alt="{{ herramienta.nombre }}" style="max-width:300px;">
{% endif %}

<br>
{% if user.is_authenticated %}
  <p>
    <a href=" {% url "herramientas:editar_herramienta"  herramienta.pk%} ">Editar</a>
    <a href="{% url "herramientas:eliminar_herramienta" herramienta.pk %}">Eliminar</a>
  </p>
{% endif %}


<a href="{% url 'herramientas:lista_herramientas' %}">Volver a la lista</a>

<hr>

{% if herramienta.disponibilidad == 'disponible' %}
  <h3>Solicitar préstamo</h3>
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Solicitar préstamo</button>
  </form>
{% else %}
  <p><strong>Esta herramienta no está disponible para préstamo.</strong></p>
{% endif %}

{% endblock %}
